*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.env
.DS_Store
lambda/dynamodb_data.json
lambda/filtered_sorted_output.csv
lambda/Member Info - Fall 2024.csv
